<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @archivement.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @archivement.desc %>
</p>

<p>
  <b>Category:</b>
  <%= @archivement.category.name %>
</p>

